<div class="bg-dark">
    <div class="container">
        <footer class="row justify-content-between my-5 ">

            <div class="col my-5">
                <h3 class="text-light">Links</h3>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="https://hbcudigitallibrary.auctr.edu/digital/" target="_blank" rel="noopener">HBCU Digital Collections</a>
                    </li>
                </ul>
            </div>

            <div class="col my-5">
                <h3 class="text-light">Partners</h3>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <a href="http://hbculibraries.org/" target="_blank">
                            <img width="150" height="142" src="{{ '/assets/images/hbcu-logo-150x142.png' | url }}" class="img-thumbnail" alt="HBCU Library Alliance" style="max-width: 100%; height: auto;" decoding="async" loading="lazy">
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <a href="https://www.clir.org">
                            <img width="150" height="150" src="{{ '/assets/images/clir-150x150.png' | url }}" class="img-thumbnail" alt="CLIR" style="max-width: 100%; height: auto;" decoding="async" loading="lazy" srcset="https://creating-access.hbculibraries.org/wp-content/uploads/sites/37/2020/11/clir-150x150.png 150w, https://creating-access.hbculibraries.org/wp-content/uploads/sites/37/2020/11/clir-300x300.png 300w, https://creating-access.hbculibraries.org/wp-content/uploads/sites/37/2020/11/clir-70x70.png 70w, https://creating-access.hbculibraries.org/wp-content/uploads/sites/37/2020/11/clir-127x127.png 127w, https://creating-access.hbculibraries.org/wp-content/uploads/sites/37/2020/11/clir-125x125.png 125w, https://creating-access.hbculibraries.org/wp-content/uploads/sites/37/2020/11/clir.png 400w" sizes="(max-width: 150px) 100vw, 150px"></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>