<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div id="custom_html-5" class="widget_text widget widget_custom_html">
                    <div class="widget-title">
                        <h5>Links</h5>
                    </div>
                    <div class="textwidget custom-html-widget">
                        <ul style="color:white;">
                            <li>
                                <a href="https://hbcudigitallibrary.auctr.edu/digital/" target="_blank" rel="noopener">HBCU Digital Collections</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/.col-sm-3-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div id="custom_html-4" class="widget_text widget widget_custom_html">
                    <div class="textwidget custom-html-widget"></div>
                </div>
            </div>
            <!--/.col-sm-3-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div id="media_image-3" class="widget widget_media_image">
                    <div class="widget-title">
                        <h5>Partners</h5>
                    </div>
                    <a href="http://hbculibraries.org/" target="_blank">
                        <img width="150" height="142" src="{{ '/assets/images/hbcu-logo-150x142.png' | url }}" class="image wp-image-12  attachment-thumbnail size-thumbnail" alt="HBCU Library Alliance" style="max-width: 100%; height: auto;" decoding="async" loading="lazy"></a>
                </div>
                <div id="custom_html-3" class="widget_text widget widget_custom_html">
                    <div class="textwidget custom-html-widget"></div>
                </div>
            </div>
            <!--/.col-sm-3-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div id="media_image-4" class="widget widget_media_image">
                    <div class="widget-title">
                        <h5>&nbsp;</h5>
                    </div>
                    <a href="https://www.clir.org"><img width="150" height="150" src="{{ '/assets/images/clir-150x150.png' | url }}" class="image wp-image-49  attachment-thumbnail size-thumbnail" alt="CLIR" style="max-width: 100%; height: auto;" decoding="async" loading="lazy" srcset="https://creating-access.hbculibraries.org/wp-content/uploads/sites/37/2020/11/clir-150x150.png 150w, https://creating-access.hbculibraries.org/wp-content/uploads/sites/37/2020/11/clir-300x300.png 300w, https://creating-access.hbculibraries.org/wp-content/uploads/sites/37/2020/11/clir-70x70.png 70w, https://creating-access.hbculibraries.org/wp-content/uploads/sites/37/2020/11/clir-127x127.png 127w, https://creating-access.hbculibraries.org/wp-content/uploads/sites/37/2020/11/clir-125x125.png 125w, https://creating-access.hbculibraries.org/wp-content/uploads/sites/37/2020/11/clir.png 400w" sizes="(max-width: 150px) 100vw, 150px"></a>
                </div>
            </div>
            <!--/.col-sm-3-->
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</footer>