{%- set image_path = ["/assets/images/", image] | join  %}

<header>
    <!-- Intro settings -->
    <style>
        /* Default height for small devices */
        #intro {
            height: 500px;
            background-image: url('{{ image_path | url }}');
            background-position: center;
        }

        /* Height for devices larger than 992px */
        @media (min-width: 992px) {
            #intro {
                height: 600px;
            }
        }
    </style>

    {% include 'navigation.njk' %}

    <!-- Background image -->
    <div id="intro" class="p-5 text-center bg-image h-75">

        <div class="mask" style="background-color: rgba(0, 0, 0, 0.4);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3 fw-bolder fs-1">{{ title }}
                        <span class="span-dot">.</span>
                    </h1>
                    <div class="col-md-6 mx-auto text-center">
                        <p>{{ attribution | safe }}</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</header>
