{%- set image_path = ["/assets/images/", image] | join  %}

<header>
    <!-- Intro settings -->
    <style>
        /* Default height for small devices */
        #intro {
            {# min-height: 500px; #}
            background-image: url("{{ image_path | url }}");
            background-size: cover;
            background-position: {{image_position}};
            background-repeat:no-repeat
        }

        /* Height for devices larger t han 992px */
        @media (min-width: 992px) {
            #intro {
                min-height: 600px;
            }
        }
    </style>

    {% include 'navigation.njk' %}

    <!-- Background Image -->
    {# https://library.livecanvas.com/sections/hero-with-glassmorphism/ #}
    <div id="intro" class="container-fluid py-5 d-flex justify-content-center text-white">
        <div id="hero-text" class="p-5 mb-4 lc-block col-xxl-7 col-lg-8 col-12 text-center">

            <h2 class="fw-bolder display-3 py-3">
                {{ title }}
            </h2>
            
            <div class="col">
                <p class="lead mt-5 pt-5">
                    <p>{{ attribution | safe }}</p>
                </div>

            </div>
        </div>
        <!-- Background image -->
    </header>