<nav class="navbar navbar-expand navbar-dark bg-jet py-4" aria-label="Second navbar example">
  <div class="container">
    <a class="navbar-brand fs-1" href="{{'/' | url }}">{{ site.title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto">
        {%- for link in navigation %}
          {%- set class = "nav-link fw-bold py-1 px-2" -%}
          {%- if link.url == page.url %}
            {%- set class = "nav-link fw-bold py-1 px-2 active" %}
          {% endif %}
          <a href="{{ link.url | url }}" class="{{ class }}">{{ link.title }}</a>
        {%- endfor %}
      </ul>
    </div>
  </div>
</nav>