$font-family-sans-serif: "Poppins", sans-serif; //https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss#L606C31-L606C56
$headings-font-weight: 700;

$purple:  #670062;
$yellow: #EDAE49;
$red: #D1495B;
$blue: #22AED1;
$jet: #2A2825;

// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.bg-jet {
  background-color: $jet;
  color: #fff;
}

a {
  color: $purple;
}

.span-dot {
  color: $purple;
}

.btn-purple {
  background-color: $purple;
  color: #fff;

  &:hover {
    background-color: darken($purple, 5%);
    color: #fff;
  }
}

.mask {
  a {
    color: #fff;
  }
}

.bg-dark-blue {
  background-color: #222f36;
}

.quote {
  border-top: 1px solid #eee; 
  border-right: 1px solid #eee; 
  border-bottom: 1px solid #eee;
}

.quote-yellow {
  border-left: .35rem solid $yellow; 
}

.quote-red {
  border-left: .35rem solid $red; 
}

.quote-blue {
  border-left: .35rem solid $blue; 
}

.fa-2x {
  font-size: 2em;
}

.section-citation {
  line-height: 26px;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 16px;
  font-family: 'Lato';
  font-weight: 400;
  color: #fff;
}

.section-citation a {
  color: #fff;
  text-decoration: underline;
}

.opaque-background {
  padding-top: 2em;
  background: rgba(0, 0, 0, 0.4);
}

.header-opaque-background {
  background: rgba(0, 0, 0, 0.4);
}

.alignleft {
  padding-right: 20px;
}

.alignright {
  padding-left: 20px;
}


