---
title: 
layout: base.njk
---

<div>
    <h1>
        Creating Access to HBCU Library Alliance Archives.
    </h1>

    <div class="col-sm-8 col-sm-offset-2">

        <div class="section-citation">
            <a href="https://hbcudigitallibrary.auctr.edu/digital/collection/ssld/id/26/rec/8" target="_blank" rel="noopener noreferrer">
                <em>First Honor Students</em>
            </a>, Unknown Photographer, 1968, Silver Gelatin. Courtesy of Southern University at Shreveport Library (LA).</div>
    </div>

</div>

<section id="about" class="front-page-section" style="">
    <div class="section-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>About</h3>
                </div>
                <!--/.col-sm-12-->
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="section-description">A joint project from the HBCU Library Alliance and CLIR that will envision ways that all HBCU Library Alliance member institutions might work together to preserve, describe, and digitize the unique collections they steward.</div>
                </div>
                <!--/.col-sm-10.col-sm-offset-1-->
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.section-header-->
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div id="illdy_testimonial-2" class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-0 widget_illdy_testimonial">
                    <div class="carousel-testimonial">
                        <div class="testimonial-image">
                            <img src="">
                        </div>
                        <!--/.testimonial-image-->
                        <div class="testimonial-content">
                            <blockquote>
                                <q>
                                    <span style="font-weight: 400">This project will enable the discovery of previously ‘hidden’ primary resources at HBCUs that will enrich and broaden the existing body of knowledge about the African American experience.</span>
                                </q>
                            </blockquote>
                        </div>
                        <!--/.testimonial-content-->
                        <div class="testimonial-meta">
                            <h6>Sandra Phoenix, HBCU Library Alliance Executive Director</h6>
                        </div>
                        <!--/.testimonial-meta-->
                    </div>
                    <!--/.carousel-testimonial-->

                </div>
                <div id="illdy_testimonial-5" class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-0 widget_illdy_testimonial">
                    <div class="carousel-testimonial">
                        <div class="testimonial-image">
                            <img src="">
                        </div>
                        <!--/.testimonial-image-->
                        <div class="testimonial-content">
                            <blockquote>
                                <q>																																																																																The funding for this project could not have come at a better time.&nbsp; Our HBCU libraries serve as the keepers of some of the most unique materials which tell the stories of the history of the African American experience in our country.&nbsp; Due to the racial and social unrest of this year, it is even more critical to preserve these collections and find ways to increase access.&nbsp; The content and depth of these collections will create limitless opportunities for us to learn from the events of the past and prepare for a better future.																																																</q>
                            </blockquote>
                        </div>
                        <!--/.testimonial-content-->
                        <div class="testimonial-meta">
                            <h6>Monika Rhue, former HBCU Library Alliance Board Chair</h6>
                        </div>
                        <!--/.testimonial-meta-->
                    </div>
                    <!--/.carousel-testimonial-->

                </div>
                <div id="illdy_testimonial-4" class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-0 widget_illdy_testimonial">
                    <div class="carousel-testimonial">
                        <div class="testimonial-image">
                            <img src="">
                        </div>
                        <!--/.testimonial-image-->
                        <div class="testimonial-content">
                            <blockquote>
                                <q>
                                    <span style="font-weight: 400">Creating access to the archives of HBCU libraries is both timely and urgent. Making collections that center Black lives and histories widely available to all will enable us to fill gaps in both personal and public histories. </span></q>
                            </blockquote>
                        </div>
                        <!--/.testimonial-content-->
                        <div class="testimonial-meta">
                            <h6>Dr. Charles Henry, CLIR President</h6>
                        </div>
                        <!--/.testimonial-meta-->
                    </div>
                    <!--/.carousel-testimonial-->

                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.section-content-->
</section>

<section id="latest-news">
    <div class="section-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Latest News</h3>
                </div>
                <!--/.col-sm-12-->
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>

    <div class="section-content">
        <div class="container">
            <div class="row blog-carousel">
                {% for post in collections.posts %}
                    <div class="illdy-blog-post col-md-4 col-sm-6 col-xs-12">
                        <div class="post" style="">
							<div class="post-image" style="background-image: url('https://creating-access.hbculibraries.org/wp-content/uploads/sites/37/2020/11/suam_1259_full-250x213.jpg');"></div>
                        <h5>
                            <a href="https://creating-access.hbculibraries.org/2022/04/11/clir-and-hbcu-library-alliance-release-study-on-creating-access-to-hbcu-library-alliance-archives/" class="post-title">CLIR and HBCU Library Alliance Release Study on Creating Access to HBCU Library Alliance Archives</a>
                        </h5>
                        <div class="post-entry">
							April 11, 2022—&nbsp;A new report from CLIR and the HBCU Library Alliance explores the common barriers and shared visions for…									</div>
                        <!--/.post-entry-->
                        <a href="https://creating-access.hbculibraries.org/2022/04/11/clir-and-hbcu-library-alliance-release-study-on-creating-access-to-hbcu-library-alliance-archives/" class="post-button">
                            <i class="fa fa-chevron-circle-right"></i>Read more</a>
                    </div>
                    <!--/.post-->
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</section>