---
title: Creating Access
layout: base.njk
image: ssld_26_full.jpg
attribution: <a class="link-light" href="https://hbcudigitallibrary.auctr.edu/digital/collection/ssld/id/26/rec/8" target="_blank" rel="noopener noreferrer"><em>First Honor Students</em></a>, Unknown Photographer, 1968, Silver Gelatin. Courtesy of Southern University at Shreveport Library (LA).</div>
eleventyNavigation:
    key: Home
    order: 1
---

<div class="mb-5">
    <div class="p-5 text-center bg-body-tertiary">
        <div class="container py-5">
            <h1 class="text-body-emphasis" id="about">About</h1>
            <p class="col-lg-8 mx-auto lead mt-5">
                A joint project from the HBCU Library Alliance and CLIR that will envision ways that all HBCU Library Alliance member institutions might work together to preserve, describe, and digitize the unique collections they steward.
            </p>
        </div>
    </div>
</div>

    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-sm-12 col-xl-4">
                <figure class="bg-body-tertiary p-4 quote quote-yellow">
                    <i class="bi bi-quote fa-2x mb-4" style="color: #EDAE49"></i>
                    <blockquote class="blockquote pb-2">
                        <p>
                            This project will enable the discovery of previously 'hidden' primary resources at HBCUs that will enrich and broaden the existing body of knowledge about the African American experience.
                        </p>
                    </blockquote>
                    <figcaption class="blockquote-footer mb-0">
                        Sandra Phoenix, HBCU Library Alliance Executive Director
                    </figcaption>
                </figure>
            </div>

            <div class="col-sm-12 col-xl-4">
                <figure class="bg-body-tertiary p-4 quote quote-red">
                    <i class="bi bi-quote fa-2x mb-4" style="color: #D1495B;"></i>
                    <blockquote class="blockquote pb-2">
                        <p>
                            The funding for this project could not have come at a better time.  Our HBCU libraries serve as the keepers of some of the most unique materials which tell the stories of the history of the African American experience in our country.  Due to the racial and social unrest of this year, it is even more critical to preserve these collections and find ways to increase access.  The content and depth of these collections will create limitless opportunities for us to learn from the events of the past and prepare for a better future. 
                        </p>
                    </blockquote>
                    <figcaption class="blockquote-footer mb-0">
                        Monika Rhue, former HBCU Library Alliance Board Chair
                    </figcaption>
                </figure>
            </div>

            <div class="col-sm-12 col-xl-4">
                <figure class="bg-body-tertiary p-4 quote quote-blue">
                    <i class="bi bi-quote fa-2x mb-4" style="color: #22AED1;"></i>
                    <blockquote class="blockquote pb-2">
                        <p>
                            Creating access to the archives of HBCU libraries is both timely and urgent. Making collections that center Black lives and histories widely available to all will enable us to fill gaps in both personal and public histories. 
                        </p>
                    </blockquote>
                    <figcaption class="blockquote-footer mb-0">
                        Dr. Charles Henry, CLIR President

                    </figcaption>
                </figure>
            </div>
        </div>
    </div>

<div id="latest-news" class="bg-dark-blue my-5 py-5">

    <div class="section-header my-5 py-5 text-center">
        <div class="container">
            <h2 class="text-light">Latest News</h3>
        </div>
        <!--/.container-->
    </div>

    <div class="section-content">
        <div class="container">
            <div class="row mb-5">
                {%- for post in collections.post | head(3) -%}
                <div class="col-md-12 col-lg-4">
                    <div class="card">
                        <div class="bg-image hover-overlay" >
                            {%- set image_path = ["assets/images/", post.data.image] | join  %}
                            <a href="{{ post.url | url }}">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)">
                                    {% image image_path, 'Faculty, Maryland Normal and Industrial School at Bowie', 'img-fluid' %}
                                </div>
                            </a>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">{{ post.data.title }}</h5>
                            <p class="card-text">
                                {% excerpt post %}
                            </p>
                            <a href="{{ post.url | url }}" class="btn btn-purple">
                                <i class="bi bi-chevron-right"></i> Read</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>