---
title: Publications
layout: page
image: South-Carolina-State-University_02_Classroom-Scene_001-scaled.jpg
attribution: <i>Classroom scene</i>, Unknown Photographer, n.d. Courtesy of South Carolina State University.
eleventyNavigation:
    key: Publications
    order: 3
---
<h4 id="publication-cover-featuring-text-that-reads-creating-access-to-hbcu-library-alliance-archives-needs-capacity-and-technical-training-in-white-letters-on-burgundy-with-a-collage-of-historic-images-belowcreating-access-to-hbcu-library-alliance-archives-needs-capacity-and-technical-training"><a href="https://www.clir.org/wp-content/uploads/sites/6/2022/04/Creating-Access-to-HBCU-Library-Alliance-Archives.pdf"><img src="https://creating-access.hbculibraries.org/wp-content/uploads/sites/37/2022/04/Pub-180-cover-235x300.png" alt="Publication cover featuring text that reads &quot;Creating Access to HBCU Library Alliance Archives: Needs, Capacity, and Technical Training&quot; in white letters on burgundy with a collage of historic images below"></a>Creating Access to HBCU Library Alliance Archives: Needs, Capacity, and Technical Training</h4>
<p>_Sharon Ferguson Freeman<br>_March 2022. 69 pp. (electronic only)<br>CLIR pub 180<br><a href="https://www.clir.org/wp-content/uploads/sites/6/2022/04/Creating-Access-to-HBCU-Library-Alliance-Archives.pdf">PDF download &gt;&gt;</a></p>
<p>This study explores the common barriers and shared visions for creating access to archival collections held by libraries at Historically Black Colleges and Universities (HBCUs). One of few reports that document the needs of HBCU libraries as they relate to archives and special collections. It is based on a series of online focus groups that author <a href="https://creating-access.hbculibraries.org/landing-page/project-team/">Sharon Ferguson Freeman</a> facilitated with HBCU library directors and deans in 2021. The study provides insight into the significance of special and archival collections for HBCU librar­ies and their communities; the management and capacity of archives and special collections; and these libraries’ values, priorities, needs, and aspirations. The findings also reveal information related to the impact of the COVID-19 pandemic on HBCUs and broader topics of significance that were not anticipated when the project began.</p>
<p>The project grew out of a <a href="https://www.clir.org/2019/07/clir-and-hbcu-library-alliance-form-national-partnership/">partnership</a> formalized in 2019 between the HBCU Library Alliance and CLIR, and a 2020 Mellon Foundation <a href="https://www.clir.org/2020/11/hbcu-library-alliance-and-clir-receive-grant/">grant</a> for a study to inform a sustainable shared infrastructure for creating access to HBCU Library Alliance members’ archival collections.</p>
<h5 id="related-resources">Related Resources</h5>
<p>The <a href="https://creating-access.hbculibraries.org/wp-content/uploads/sites/37/2022/04/Focus-Group-Discussion-Guide.docx">discussion guide</a> used for this study is available under a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0 license</a>.</p>
<p>A series of in-depth virtual interviews about special collections and archival holdings, technical capacity, and researcher needs was conducted with a select group of library staff and faculty based at HBCUs, in coordination with the above study. While results of the interviews will only be shared with relevant stakeholders from the HBCU Library Alliance, the accompanying <a href="https://creating-access.hbculibraries.org/wp-content/uploads/sites/37/2022/04/InterviewQuestions.docx">interview questions</a> are freely available.</p>
